---
---
$background-color:     hsl(  0,   0%,  95%);
$alternate-color:      hsl(  0,   0%,  85%);
$gray-color:           hsl(  0,   0%,  50%);
$alternate-dark-color: hsl(  0,   0%,  15%);
$text-color:           hsl(  0,   0%,   5%);
$link-color:           hsl(200, 100%,  35%);
$light-link-color:     hsl(200,  75%,  50%);

$half-spacing:    .8rem;
$spacing:        1.6rem;
$double-spacing: 3.2rem;

$breakpoint-xs-1:  399px;
$breakpoint-xs:    400px;
$breakpoint-s-1:   549px;
$breakpoint-s:     550px;
$breakpoint-m-1:   767px;
$breakpoint-m:     768px;
$breakpoint-l-1:  1023px;
$breakpoint-l:    1024px;
$breakpoint-xl-1: 1199px;
$breakpoint-xl:   1200px;

$serif-family:      Times, "Times New Roman", serif;
$sans-serif-family: "Trebuchet MS", Helvetica, sans-serif;
$monospace-family:  Courier, monospace;

@import 'normalize';
@import 'grid';
@import 'mixins';

/* TEXT UTILITIES */
body {
  @include background-color($background-color, $text-color);
  @include color($text-color, $background-color);
           font-family: $sans-serif-family;
  @include font-kerning(normal);
           font-size: 1.6em;
  @include font-smoothing(antialiased);
  @include font-variant-ligatures("normal, discretionary-ligatures, historical-ligatures, contextual");
           font-weight: 400;
           line-height: 1.6;
           text-rendering : optimizeLegibility;
}

.hidden { display: none; }

@media (max-width: $breakpoint-xs-1) {
  .hidden-xs { display: none; }
}

a {
  @include color ($link-color, $light-link-color);
  text-decoration: underline;

  &:hover {
    @include color ($link-color, $light-link-color);
    text-decoration: none;
  }
}

.lead {
  font-size: 1.8rem;
  @media (min-width: $breakpoint-s) {
    font-size: 2rem;
  }
}

.lead .not-lead {
  font-size: 1.6rem;
  @media (min-width: $breakpoint-s) {
    font-size: 1.6rem;
  }
}

.text-overflow {
  @include text-overflow(ellipsis);
  white-space: nowrap;
  hyphens: auto;
}

.text-left        { text-align: left; }
.text-right       { text-align: right; }
.text-center      { text-align: center; }
.text-capitalize  { text-transform: capitalize; }

.gray-text {
  color: $gray-color;
  &:hover { color: $gray-color; }
}

.dark-gray-text { @include color($alternate-dark-color, $alternate-color); }

.gray-background {
  @include color (black, white);
  @include background-color($alternate-color, $alternate-dark-color);
  display: inline-block;
  padding: $spacing $double-spacing 0 $double-spacing;
  border-radius: $spacing;
  margin-bottom: $spacing;
}

hr {
  border-width: 0;
  border-top: 1px solid;
  @include border-color($alternate-color, $alternate-dark-color);
}

/* Lists styling */
ul { list-style: circle inside; }
ol { list-style: decimal inside; }

ul, ol {
  padding-left: 0;
  margin-left: $double-spacing;

  @media (max-width: $breakpoint-m-1) { margin-left: $spacing; }
}

.text-center ol,
.text-center ul { margin-left: 0; }

ul ul,
ul ol,
ol ol,
ol ul { margin: $spacing 0 $spacing $double-spacing; }

li { margin-bottom: $half-spacing; }

.list-inline {
  margin-left: 0;

  li { display: inline; }
  li:not(:first-child)::before {
    content: " · " ;
    @include color($alternate-dark-color, $alternate-color);
  }

  li.list-title ~ li:nth-child(2)::before { content: none; }

  li.not-inline {
    display: block;
    &::before { content: none; }
  }

  &.block { display: inline; }

  li.item-break::before,
  &.tag-list li:nth-child(3n+1)::before {
    @media (max-width: $breakpoint-s-1) {
      display: block;
      content: "\a";
    }
  }
  &.tag-list li:nth-child(6n+1)::before {
    @media (min-width: $breakpoint-s) and (max-width: $breakpoint-m-1) {
      display: block;
      content: "\a";
    }
  }
  &.tag-list li:nth-child(9n+1)::before {
    @media (min-width: $breakpoint-m) and (max-width: $breakpoint-l-1) {
      display: block;
      content: "\a";
    }
  }
  &.tag-list li:nth-child(12n+1)::before {
    @media (min-width: $breakpoint-l) {
      display: block;
      content: "\a";
    }
  }
}

.button-list { margin-top: $double-spacing; }

.post-list {
  .item { margin-bottom: $double-spacing; }
  span.link::before  { content: "→ "; }
  .post-link {
    text-decoration: none;
    .post-title { text-decoration: underline; }
    &:hover .post-title { text-decoration: none; }
  }
  .not-inline .list-inline { margin: 0; }
  .excerpt { max-width: $breakpoint-m; }
}

/* TITLE UTILITIES */

h1, h2, h3, h4, h5, h6 {
  margin-top: $double-spacing;
  margin-bottom: $spacing;
  font-family: $sans-serif-family;
  font-style: italic;
}

h1 { font-size: 4.8rem; letter-spacing: -.28rem; line-height: 1.2; margin-top: $spacing; }
h2 { font-size:   4rem; letter-spacing: -.24rem; line-height: 1.25; }
h3 { font-size: 3.2rem; letter-spacing: -.20rem; line-height: 1.3; }
h4 { font-size: 2.4rem; letter-spacing: -.16rem; line-height: 1.35; }
h5 { font-size:   2rem; letter-spacing: -.14rem; line-height: 1.5; }
h6 { font-size: 1.6rem; letter-spacing: -.12rem; line-height: 1.6; @include color($alternate-dark-color, $alternate-color); }

@media (min-width: $breakpoint-s) {
  h1 { font-size: 5.7rem; letter-spacing: -.29rem; }
  h2 { font-size: 4.7rem; letter-spacing: -.25rem; }
  h3 { font-size: 3.7rem; letter-spacing: -.21rem; }
  h4 { font-size: 2.7rem; letter-spacing: -.17rem; }
  h5 { font-size: 2.2rem; letter-spacing: -.15rem; }
  h6 { font-size: 1.7rem; letter-spacing: -.13rem; }
}

@media (min-width: $breakpoint-m) {
  h1 { font-size: 8.2rem;  letter-spacing: -.34rem; }
  h2 { font-size: 6.6rem;  letter-spacing: -.30rem; }
  h3 { font-size:   5rem;  letter-spacing: -.26rem; }
  h4 { font-size: 3.4rem;  letter-spacing: -.22rem; }
  h5 { font-size: 2.6rem;  letter-spacing: -.18rem;  }
  h6 { font-size: 1.8rem;  letter-spacing: -.14rem; }
}

@media (min-width: $breakpoint-l) {
  h1 { font-size: 9.1rem; letter-spacing: -.55rem; }
  h2 { font-size: 7.3rem; letter-spacing: -.45rem; }
  h3 { font-size: 5.5rem; letter-spacing: -.35rem; }
  h4 { font-size: 3.7rem; letter-spacing: -.25rem; }
  h5 { font-size: 2.8rem; letter-spacing: -.2rem;  }
  h6 { font-size: 1.9rem; letter-spacing: -.15rem; }
}

@media (min-width: $breakpoint-xl) {
  h1 { font-size: 10rem; letter-spacing: -.56rem; }
  h2 { font-size:  8rem; letter-spacing: -.46rem; }
  h3 { font-size:  6rem; letter-spacing: -.36rem; }
  h4 { font-size:  4rem; letter-spacing: -.26rem; }
  h5 { font-size:  3rem; letter-spacing: -.21rem;  }
  h6 { font-size:  2rem; letter-spacing: -.16rem; }
}

/* IMG UTILITIES */
figure,
img,
.img,
iframe {
  margin: 0;
  max-width: 100%;
}

img:not(.thumbnail) { width: 100%; }

figcaption {
  font-style: italic;
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: $spacing;
}

a.thumbnail img,
img.thumbnail {
  max-width: calc(100% - 4px);
  padding: 1px;
  border: 1px solid $alternate-color;
  margin: 0;
  border-radius: 2px;
  opacity: .85;
}

a.thumbnail:hover img {
  background-color: $alternate-color;
  opacity: 1;
}

.img-circle { border-radius: 50%; }

/* Boutons */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  font-family: $sans-serif-family;
  line-height: 1;
  display: inline-block;
  padding: $half-spacing;
  margin: 0;
  max-width: 100%;
  @include background-color(white, black);
  @include color($alternate-dark-color, $alternate-color);
  border: 1px solid;
  @include border-color($gray-color, $gray-color);
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 2px;
  cursor: pointer;
  box-sizing: border-box;

  &:hover, &:focus {
    text-decoration: none;
    @include color (black, white);
    @include border-color($alternate-dark-color, $alternate-color);
    @include background-color($alternate-color, $alternate-dark-color);
    outline: 0;
  }

  &.next::before {
    content: "‹ Suiv. : ";
    @media (min-width: $breakpoint-s) {
      content: "‹ Suivant : ";
    }
    @media (min-width: $breakpoint-m) {
      content: "‹ Billet suivant : ";
    }
  }
  &.previous::before {
    content: "Préc. : ";
    @media (min-width: $breakpoint-s) {
      content: "Précédent : ";
    }
    @media (min-width: $breakpoint-m) {
      content: "Billet précédent : ";
    }
  }
  &.next::before, &.previous::before { font-weight: bold; }
  &.text-overflow { overflow: hidden; }
}

.navigation .button:not(.button-xs) { margin-bottom: $spacing; }

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  @include background-color($alternate-dark-color, $alternate-color);
  @include border-color($text-color, $alternate-color);
  @include color($background-color, $text-color);

  &:hover, &:focus {
    @include background-color($link-color, $light-link-color);
    @include border-color($text-color, $alternate-color);
    @include color(white, black);
    @media (prefers-color-scheme: light) {
      text-shadow: 0 1px 0px $alternate-dark-color;
    }
  }
}

.button.button-xs {
  font-size: 1.4rem;
  font-variant: normal;
  padding: .2rem .5rem;
  letter-spacing: 0;
  text-transform: capitalize;
  @include border-color(white, black);
  &:hover {
    @include border-color($alternate-color, $alternate-dark-color);
    @include color(black, white);
  }
}

.newer::before { content: "‹ "; font-weight: bold; }
.older::after  { content: " ›"; font-weight: bold; }

.tag.a-propos h1::before    { content: "∏"; }
.tag.agriculture h1::before { content: "☼"; }
.tag.antispecism h1::before { content: "Ⓐ"; }
.tag.art h1::before         { content: "ɐ"; }
.tag.blog h1::before        { content: "§"; }
.tag.canada h1::before      { content: "☶"; }
.tag.change h1::before      { content: "⌥"; }
.tag.contact h1::before     { content: "@"; }
.tag.design h1::before      { content: "✎"; }
.tag.diy h1::before         { content: "✄"; }
.tag.economy h1::before     { content: "$"; }
.tag.education h1::before   { content: "ℇ"; }
.tag.energy h1::before      { content: "↯"; }
.tag.environment h1::before { content: "☷"; }
.tag.food h1::before        { content: "♨"; }
.tag.funny h1::before       { content: "☺"; }
.tag.guitar h1::before      { content: "♬"; }
.tag.lectures h1::before    { content: "¶"; }
.tag.lettering h1::before   { content: "ℒ"; }
.tag.low-tech h1::before    { content: "␥"; }
.tag.maths h1::before       { content: "÷"; }
.tag.minimalism h1::before  { content: "○"; }
.tag.moon h1::before        { content: "☾"; }
.tag.movie h1::before       { content: "☆"; }
.tag.music h1::before       { content: "♫"; }
.tag.nature h1::before      { content: "♧"; }
.tag.parisweb h1::before    { content: "#"; }
.tag.permaculture h1::before{ content: "⚘"; }
.tag.pixel-art h1::before   { content: "▦"; }
.tag.politics h1::before    { content: "♗"; }
.tag.quatrecentquatre h1::before { content: "⁉"; }
.tag.realisations h1::before { content: "♖"; }
.tag.recycle h1::before     { content: "♲"; }
.tag.sport h1::before       { content: "♕"; }
.tag.tags h1::before        { content: "⍞"; }
.tag.typography h1::before  { content: "ℒ"; }
.tag.urban-farming h1::before { content: "⌂"; }
.tag.vegan h1::before       { content: "Ⓥ"; }
.tag.water h1::before       { content: "☵"; }
.tag.web h1::before         { content: "↻"; }

.tag h1::before,
.tag h2::before {
  @include color($alternate-color, $alternate-dark-color);
  display: block;
  font-family: $serif-family;
  font-size: 104px;
  font-style: normal;
  font-weight: normal;
  margin-top: -$spacing;
  letter-spacing: normal;
}

.logo {
  height: 102px;
  width: 102px;
  @include fill($alternate-color, $alternate-dark-color);
}

/* VIDEO RESPONSIVE */
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;

  .embed-responsive-item, iframe, embed, object, video, img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  img { @include object-fit(cover); }
}

.embed-responsive-16by9 { padding-bottom: 56.25%; }
.embed-responsive-4by3  { padding-bottom: 75%; }


/* NAV */
.main-nav ul {
  margin-top: $spacing;
  margin-bottom: $double-spacing;
}

.menu a {
  text-decoration: none;
  &.active { @include color($alternate-dark-color, $alternate-color); }
  &:hover  { @include color(black, white); }
}

/* Index styling */
.printy {
  @media (min-width: $breakpoint-m) {
    display: block;
    @include columns(2);
    @include column-gap($double-spacing);
    @include column-rule($alternate-color);
  }
  @media (min-width: $breakpoint-l) {
    @include columns(3);
  }
  @media (prefers-color-scheme: dark) {
    @include column-rule($alternate-dark-color);
  }
}

/* Parts styling */
.part { padding: $double-spacing 0; }

.caption {
  overflow: hidden;
  margin-top: $spacing;
}

.stickers {
  @include position(sticky);
          top:  $double-spacing;
  padding-top: -$double-spacing;

  @media (max-width: $breakpoint-m-1) {
    text-align: center;
    margin-top: $spacing;
    &::before { content: "—"; }
  }

  h6 { margin-top: 0; }
}

.part.video .stickers {
  margin-top: $spacing;
}

@media (max-width: $breakpoint-xs-1) {
  .part.video .row {
    margin-left: -$spacing;
    margin-right:-$spacing;
  }
  .part.video .caption,
  .part.video .stickers {
    padding-left: $spacing;
    padding-right:$spacing;
  }
}

@media (min-width: $breakpoint-xs) and (max-width: $breakpoint-m-1) {
  .part.video .row {
    margin-left: -5.55556%;
    margin-right:-5.55556%;
  }
  .part.video .caption,
  .part.video .stickers {
    padding-left: 5.55556%;
    padding-right:5.55556%;
  }
}

@media (min-width: $breakpoint-m) and (max-width: 1023px) {
  .part.video .row {        margin-left: -8.82353%;
                            margin-right:-8.82353%;
  }
  .part.video .caption    { padding-left: 8.82353%; }
  .part.video .stickers  { padding-right: 8.82353%; }
}

@media (min-width: $breakpoint-m) {
  .part.video .stickers,
  .part.video .caption {
    margin-top: $double-spacing;
  }
}

/* Quotes */
blockquote {
  @include background-color($alternate-color, $alternate-dark-color);
  border-left: $half-spacing solid;
  @include border-color($alternate-dark-color, $alternate-color);
  border-radius: 0 2px 2px 0;
  @include color(black, white);
  margin: $spacing;
  padding-left: $half-spacing;
  font-size: inherit;
  font-style: italic;

  @media (max-width: $breakpoint-s-1) {
    margin: 0;
  }
}

blockquote.quote {
  font-family: $serif-family;
  font-size: 200%;
  font-style: italic;
}

.quote:not(.part)::before { content: "« "; }
.quote:not(.part)::after  { content: " »"; }
.quote-footer::before     { content: "— "; }

/* Contact */
#github ~ li #mail-contact,
#github ~ li #mail-pointfr,
#github ~ li #mail-arobase,
#mastodon ~ li #mail-contact,
#mastodon ~ li #mail-pointfr {
  @include transition(opacity, .2s, ease-in-out);
}
#github:hover ~ li #mail-contact,
#github:hover ~ li #mail-pointfr,
#github:hover ~ li #mail-arobase,
#mastodon:hover ~ li #mail-contact,
#mastodon:hover ~ li #mail-pointfr {
  opacity: .3;
}

@media (max-width: $breakpoint-m-1) {
  .row { overflow: hidden; }
}

footer {
  border-top: 1px solid;
  @include border-color($alternate-color, $alternate-dark-color);
}

/* Formulaires */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  @include box-shadow(none);
  box-sizing: border-box;
}

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0;
}

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}

/* Code */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
}

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}

/* Tables */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

/* Spacing */
input,
textarea,
select,
fieldset,
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form,
.video-container {
  margin-top: 0;
  margin-bottom: $spacing;
}

hr {
  margin-top: $double-spacing;
  margin-bottom: $double-spacing;
}

/* Utilities */
.u-full-width {
  width: 100%;
  box-sizing: border-box;
}

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}

.u-pull-right { float: right; }
.u-pull-left  { float: left; }

/* Self Clearing Goodness */
header::after,
.container::after,
.row::after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}
