---
title: "Hello blog"
---
{% include head.html %}
{% if paginator.page == 1 %}
	<div class="text-center">
		<img class="img-circle avatar"
			alt="Photo de profil"
			srcset="{{ site.baseurl }}/dist/img/Olivier-de-Villardi-288.jpg 3x,
	       			{{ site.baseurl }}/dist/img/Olivier-de-Villardi-192.jpg 2x,
	       			{{ site.baseurl }}/dist/img/Olivier-de-Villardi-96.jpg 1x"
			src="{{ site.baseurl }}/dist/img/Olivier-de-Villardi-96.jpg">
		<h1>{{ site.title }}</h1>
		<ul class="menu list-inline text-capitalize" id="menu">
			<li><a href="{{ site.baseurl }}/tag/design.html">design</a></li>
			<li><a href="{{ site.baseurl }}/tag/environment.html">environment</a></li>
			<li><a href="{{ site.baseurl }}/tag/music.html">music</a></li>
			<li class="item-break"><a href="{{ site.baseurl }}/tag/permaculture.html">permaculture</a></li>
			<li><a href="{{ site.baseurl }}/tag/sport.html">sport</a></li>
			<li><a href="{{ site.baseurl }}/tag/vegan.html">vegan</a></li>
			<li><a href="{{ site.baseurl }}/tag/web.html">web</a></li>
		</ul>
	</div>
{% else %}
	<div class="text-center big-title">
		<h1>{{ page.title }}</h1>
		<p>Page {{ paginator.page }} / {{ paginator.total_pages }}</p>
	</div>
	{% endif %}
<div class="cards" id="posts">
	{% for post in paginator.posts %}
		<div class="part card {{ post.layout }}">
			{% include card.html%}
		</div>
	{% endfor %}
</div>
{% include foot.html %}
