---
title: Olivier de Villardi
subtitle: Blog à part
---
{% include head.html %}

<div class="u-cf"></div>

<div class="content">
	<div class="text-center">
		<img class="img-circle avatar"
           alt="Photo de profil"
           srcset=" {{ site.baseurl }}/dist/img/Olivier-de-Villardi-288.jpg 3x,
           					{{ site.baseurl }}/dist/img/Olivier-de-Villardi-192.jpg 2x,
           					{{ site.baseurl }}/dist/img/Olivier-de-Villardi-96.jpg 1x"
           sizes="96px"
           src="{{ site.baseurl }}/dist/img/Olivier-de-Villardi-96.jpg">
		<h1>{{ page.subtitle }}</h1>
		<p class="lead text-overflow">Éducation, web, vegan, design, sport, low-tech, musique, environnement…</p>
	</div>

	<div class="posts">
	{% for post in paginator.posts %}
		{% include posts.html %}
	{% endfor %}
	</div>
</div>

{% include foot.html %}