---
title: "À propos"
description: "Expérience personnelle et professionnelle"
menu: "a-propos"
---
{% include head.html %}
<div class="text-center tag a-propos">
	<h1>{{ page.title }}</h1>
  <ul class="menu list-inline related">
		<li><a href="#pro">Professionnel</a></li>
    <li><a href="#perso">Personnel</a></li>
  </ul>
</div>
<div class="part lead">
  <p>
    Bonjour, je m’appelle <strong>Olivier de&nbsp;Villardi</strong>.
  </p>
  <p>
    Je suis un <strong>travailleur du Web</strong> depuis près de 15&nbsp;ans.
		Je suis également <strong>enseignant</strong>.<br>
    J’aime mes deux casquettes et les alterne au gré des opportunités.
  </p>
  <p>
    Je crois en un Internet <em>sobre</em>, <em>de&nbsp;qualité</em> et
		respectueux de la <em>vie&nbsp;privée</em>.<br>
    Je crois en un enseignement <em>bienveillant</em>, <em>positif</em> et
    respectueux des <em>individualités</em>.
  </p>
	<p>
		N’hésitez pas à <a href="{{ site.baseurl }}/contact/">me contacter</a>&nbsp;!
	</p>
</div>
<p class="text-center navigation">
	<a class="button" href="{{ site.baseurl }}/realisations/">Réalisations</a>
	<a class="button" href="https://www.linkedin.com/in/olivier-de-villardi-b6693a152/"><span class="hidden-xs">Profil </span>LinkedIn</a>
	<a class="button button-primary older" href="{{ site.baseurl }}/contact/">Contact<span class="hidden-xs">ez-moi</span></a>
</p>
<div id="pro" class="part lead">
	<h2>Professionnel</h2>
	<p>
		Ingénieur de formation (<a href="https://www.ingenieur-imac.fr/">école d’ingénieur IMAC</a>),
		je navigue entre le <strong>Web</strong> —&nbsp;en tant qu’entrepreneur, développeur ou chargé de projets&nbsp;—
		et l’<strong>enseignement</strong> —&nbsp;en collèges, lycées et dans le supérieur.
	</p>
	<h3>Travailleur du Web</h3>
  <p>
		J’œuvre dans le Web depuis près de <strong>15&nbsp;ans</strong>. Ma première casquette professionnelle et passion depuis 1996.
	</p>
	<!-- <div class="gray-background row">
		<div class="three columns">
			<a href="https://half.re/">
				<img class="illustration" src="{{ site.baseurl }}/dist/img/half-revolution.jpg" alt="Logo Half revolution" load="lazy">
			</a>
		</div>
		<div class="nine columns">
			<p>
				J’ai créé <a href="https://half.re/">Half revolution</a> pour répondre à des missions de quelques jours à plusieurs mois&nbsp;:
			</p>
			<ul>
				<li><strong>gestion</strong> de projets</li>
				<li><strong>création</strong> graphique</li>
				<li><strong>développement</strong> de prototypes et de sites statiques</li>
			</ul>
		  <p>
				Vous pouvez <a href="{{ site.baseurl }}/contact/">me contacter</a> pour échanger sur vos besoins.
			</p>
			<p>
				Pour en savoir plus sur mon parcours professionnel, voici mon <a href="https://www.linkedin.com/in/olivier-de-villardi-b6693a152/">profil LinkedIn</a>.
			</p>
		</div>
	</div> -->
  <ul>
		<li><strong>Solution engineer</strong> chez <a href="https://www.inbenta.com/fr/">Inbenta</a></li>
		<li><strong>Entrepreneur</strong>, <strong>designer</strong> et <strong>développeur</strong> chez <a href="https://half.re/">Half revolution</a></li>
		<li><strong>Chef de projets</strong> chez <a href="https://www.newquest-group.com/">NewQuest</a></li>
    <li><strong>Chef de projets</strong> chez <a href="https://www.technology-everywhere.fr/">Technology Everywhere</a></li>
    <li><strong>Chef de projets</strong> chez <a href="https://www.macsf.fr/">MACSF</a></li>
    <li><strong>Entrepreneur</strong>, <strong>fondateur</strong> et <strong>développeur</strong> chez <a href="https://www.tomsguide.fr/xtrib-telecharger-de-la-musique-en-son-hd/">Xtrib</a></li>
  </ul>
	<h3>Enseignant en Web et Mathématiques</h3>
  <p>
    Ma deuxième casquette, portée 2 années complètes et par intermittence au gré d’opportunités de remplacements ou de mentorat.
  </p>
  <ul>
		<li><strong>Mentor</strong> <em>Chef de projet digital</em> chez <a href="https://openclassrooms.com/fr/">OpenClassRooms</a></li>
    <li><strong>Professeur de mathématiques</strong> en collèges et lycées</li>
	  <li><strong>Professeur de <abbr title="Sciences Numériques et Technologie">SNT</abbr></strong> en lycées</li>
    <li><strong>Chargé de <abbr title="Travaux Dirigés">TD</abbr></strong> <em>Culture et technologies du Web</em> à l’<a href="https://www.ingenieur-imac.fr/">école d’ingénieur <abbr title="Image Multimédia Audiovisuel et Communication">IMAC</abbr></a></li>
  </ul>
  <p>
		Si vous avez des besoins de remplacement en mathématiques et/ou <abbr title="Sciences Numériques et Technologie">SNT</abbr>,
		vous pouvez <a href="{{ site.baseurl }}/contact/">me contacter</a> pour échanger.
	</p>
</div>
<p class="text-center navigation">
	<a class="button" href="https://www.linkedin.com/in/olivier-de-villardi-b6693a152/">Profil LinkedIn</a>
	<a class="button button-primary older" href="{{ site.baseurl }}/contact/">Contactez-moi</a>
</p>
<div id="perso" class="part lead">
	<h2>Personnel</h2>
  <p>Outre mes activités professionelles et formatives, voici quelques-uns de mes (mé)faits.</p>
	<h3>Web & design</h3>
	<ul>
		<li><strong>Création d’une charte graphique</strong> pour le <a href="https://hcchambery.fr/">HC Chambéry</a></li>
		<li><a href="{{ site.baseurl }}/blog/2015/06/01/guitares-site-web-nutmeg.html"><strong>Création de guitares artisanales</strong> et du site Web</a> associé <a href="https://nutmeg.fr/">Nutmeg.fr</a></li>
		<li><strong>Redesign</strong> du logo et des maillots du SHC Fontenay</li>
	</ul>
  <h4>Conférences Web</h4>
  <p>
    Elles datent un peu, mais me semblent toujours pertinentes&nbsp;!<br>
    Relation client/prestataires, Web de qualité et expérimentation audio sont au programme.
  </p>
  <ul>
    <li><strong>Sud Web 2015</strong> — <a href="https://vimeo.com/136425050">Ma pédale c’est HTML5</a></li>
    <li><strong>Paris Web 2014</strong> — <a href="http://vimeo.com/113843836">Le Web fait pousser mes tomates</a></li>
    <li><strong>Sud Web 2013</strong> — <a href="http://vimeo.com/album/2451288/video/69881604">Le client, ce gentil méchant</a></li>
  </ul>
	<p>
		N’hésitez pas à <a href="{{ site.baseurl }}/contact/">me contacter</a> si vous souhaitez que j’intervienne à vos événements.
	</p>
	<h3>Sport & musique</h3>
  <ul>
    <li>Gardien de <strong>Rink Hockey</strong> pour le <a href="https://hcchambery.fr/">HC Chambéry</a> (précédemment HC Voiron et SHC Fontenay)</li>
    <li>Unique membre du groupe à membre unique <a href="https://soundcloud.com/jacquesmuffin/">Jacques Muffin</a></li>
    <li><strong>Guitariste</strong> et compositeur du groupe à nombreux membres <a href="https://soundcloud.com/bandamushi/">Bandamushi</a></li>
  </ul>
	<h3>Environnement</h3>
	<ul>
    <li><strong>Vegan</strong> et <strong>antispéciste</strong> convaincu</li>
    <li>En transition —&nbsp;lente&nbsp;— vers le <strong>zéro déchet</strong></li>
		<li><strong>WOOFING</strong> au Canada (2013/2014)</li>
	</ul>
</div>
{% include foot.html %}
