---
title: "Contact"
description: "Je vous répondrai avec grand plaisir par email, via Mastodon ou Github."
menu: "contact"
---
{% include head.html %}
<div>
  <div class="text-center">
    <svg class="logo" xmlns="http://www.w3.org/2000/svg" width="102" height="102" viewBox="0 0 16 16">
      <path d="M4 0a2 2 0 0 0-2 2v1.133l-.941.502A2 2 0 0 0 0 5.4V14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V5.4a2 2 0 0 0-1.059-1.765L14 3.133V2a2 2 0 0 0-2-2H4Zm10 4.267.47.25A1 1 0 0 1 15 5.4v.817l-1 .6v-2.55Zm-1 3.15-3.75 2.25L8 8.917l-1.25.75L3 7.417V2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v5.417Zm-11-.6-1-.6V5.4a1 1 0 0 1 .53-.882L2 4.267v2.55Zm13 .566v5.734l-4.778-2.867L15 7.383Zm-.035 6.88A1 1 0 0 1 14 15H2a1 1 0 0 1-.965-.738L8 10.083l6.965 4.18ZM1 13.116V7.383l4.778 2.867L1 13.117Z"/>
    </svg>
    <h1>{{ page.title }}</h1>
    <ul class="menu list-inline related">
      <li><a href="#formulaire">Formulaire</a></li>
  		<li><a class="gray-text" href="#email-reseaux">Email et réseaux</a></li>
    </ul>
  </div>
  <section id="formulaire" class="part lead row">
    <div class="eight columns offset-by-two">
      <p id="contact-form-sent">
        Merci pour votre message.<br>
        J’y répondrai dans les plus brefs délais.
      </p>
      <form aria-label="Formulaire de contact"
            name="contact"
            action="#contact-form-sent"
            method="POST"
            netlify>
        <p class="hidden">
          <label>
            Don’t fill this out if you’re human: <input name="bot-field">
          </label>
        </p>
        <input  type="hidden"
                name="_subject"
                value="[odevillardi.fr] Contact">
        <label class="required" for="your-email">Votre email</label>
        <input  aria-label="Votre email"
                id="your-email"
                class="label-body"
                type="email"
                required>
        <p class="mention">
          Votre email servira uniquement à vous répondre, il sera conservé au maximum 36 mois après la fin de nos échanges.
        </p>
        <label class="required" for="your-message">Votre message</label>
        <textarea aria-label="Votre message"
                  id="your-message"
                  class="label-body u-full-width"
                  name="message" required></textarea>
        <input  aria-label="Bouton de validation"
                class="button-primary u-half-width"
                type="submit"
                value="Envoyer">
      </form>
    </div>
  </section>
  <section id="email-reseaux" class="part lead text-center">
    <h2>Email et réseaux</h2>
    <ul class="list-inline">
      <li id="email"><a href="mailto:%63&#111;%6e%74&#97;c&#116;&#64;%6f&#100;e%76&#105;&#108;&#108;ar&#100;&#105;.%66r">Email</a></li>
      <li id="mastodon"><a rel="me" href="https://mamot.fr/@odevillardi">Mastodon</a></li>
      <li id="github"><a href="https://github.com/odevillardi">Github</a></li>
      <li id="gitlab"><a href="https://gitlab.com/odevillardi">Gitlab</a></li>
      <li class="not-inline" itemprop="email">
        <span id="mail-contact">c&#111;n&#116;ac&#116;</span><span id="mail-arobase">&#64;</span><span id="mail-odevillardi">o&#100;ev&#105;&#108;&#108;ard&#105;</span><span id="mail-pointfr">.fr</span>
      </li>
    </ul>
  </section>
</div>


{% include foot.html %}
