<div class="card-item embed-responsive embed-responsive-16by9">
  {% if post.layout == "video" %}
    {% include video.html video_url=post.video_url card=1 %}
  {% else %}
    <img src="{{ post.img_url }}" alt="{{ post.img_caption }}">
  {% endif %}
  <a class="card-title" href="{{ site.baseurl }}{% if post.layout == "link" %}{{ post.link_url }}{% else %}{{ post.url }}{% endif %}">
    <h2 class="{{ post.layout }}">{{ post.title }}</h2>
  </a>
  <div class="card-meta">
    <ul class="list-inline">
      <li>
        Publié le <time datetime="{{ post.date }}">{{ post.date | date: "%d/%m/%Y" }}</time>
      </li>
      {% if !post %}
        <li>
          <a href="{{ site.baseurl }}{{ post.url }}">Permalien</a>
        </li>
      {% endif %}
    </ul>
    <ul class="list-inline buttons">
      {% for tag in post.tags %}
        <li>
          <a class="button button-xs text-capitalize {{ tag }}" href="{{ site.baseurl }}/tag/{{ tag }}.html" role="button">
            {{ tag }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
