
<hr>
<h4>Commentaires</h4>
<p class="mention">
	Les commentaires sont basés sur <a href="https://utteranc.es/">Utterances</a>
	qui utilise un cookie pour enregistrer le github api token. Utterances ne collecte <strong>aucune information personnelle</strong>.
	(<a href="https://github.com/utterance/utterances/blob/master/PRIVACY-POLICY.md">En savoir plus</a>)
</p>
<script src="https://utteranc.es/client.js"
				repo="odevillardi/odevillardi.github.io"
				issue-term="url"
				theme="preferred-color-scheme"
				crossorigin="anonymous"
				async>
</script>
