<form method="POST" action="https://api.staticman.net/v2/entry/odevillardi/odevillardi.github.io/master">
  <!-- <input name="options[redirect]" type="hidden" value="#comments"> -->
  <!-- e.g. "2016-01-02-this-is-a-post" -->
  <!-- <input name="options[slug]" type="hidden" value="{{ page.slug }}"> -->
  <div class="row">
    <div class="six columns">
      <label for="NameInput">Name</label>
      <input class="u-full-width" name="fields[name]" type="text" id="NameInput">
    </div>
    <div class="six columns">
      <label for="EmailInput">E-mail</label>
      <input class="u-full-width" name="fields[email]" type="email" id="EmailInput">
    </div>
  </div>
  <label for="MessageInput">Message</label>
  <textarea class="u-full-width" name="fields[message]" id="MessageInput"></textarea>
  <button class="button-primary" type="submit">Envoyer</button>
</form>
