    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script>
    	function isMobile(){
			return (
				(navigator.userAgent.match(/Android/i)) ||
				(navigator.userAgent.match(/webOS/i)) ||
				(navigator.userAgent.match(/iPhone/i)) ||
				(navigator.userAgent.match(/iPod/i)) ||
				(navigator.userAgent.match(/iPad/i)) ||
				(navigator.userAgent.match(/BlackBerry/))
			);
		}
		// Calcualte the home banner parallax scrolling
		function scrollBanner() {
			//Get the scoll position of the page
			scrollPos = jQuery(this).scrollTop();

			//Fade out the banner text
			jQuery('#jumbointro').css({
				'opacity' : 1-(scrollPos/350)
			});

			//Scroll the background of the banner
			jQuery(document.body).css({
				'background-position' : '50% ' + (-scrollPos/4 - 200)+"px"
			});
		}

		jQuery.noConflict();
		jQuery(document).ready(function(){

			if(!isMobile()) {
				jQuery(window).scroll(function() {	      
				scrollBanner();	      
				});
			}
		});
    </script>
  </body>
</html>