<!DOCTYPE html>
<html lang="fr-fr">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Olivier de Villardi">
		<meta name="description" content="{% if paginator.page and paginator.page == 1 %}{{ site.description }} {% else %}{{ page.description }}{% endif %}">
		<link rel="shortcut icon" href="{{ site.baseurl }}/dist/img/Olivier-de-Villardi-128.jpg">
		<link rel="alternate" type="application/rss+xml" title="Hello Blog — RSS" href="{{ site.baseurl }}/feed.xml">
		<title>{{ page.title }} {% if paginator.page and paginator.page != 1 %}(Page {{ paginator.page }} / {{ paginator.total_pages }}) {% endif %}— {{ site.author }}</title>
		<link href="{{ site.baseurl }}/css/odevillardi.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="hidden">
			<ul>
				<li><a href="#menu">Aller au menu</a></li>
				<li><a href="#content">Aller au contenu</a></li>
			</ul>
		</div>
		<div class="container">
			<header>
				<ul class="list-inline nav">
					<li>
						<a class="home-link" href="{{ site.baseurl }}/">
							{{ site.author }}
						</a>
					</li>
					<li class="not-inline u-pull-right">
						<a class="contact-link" href="#contact">
							Contactez-moi
						</a>
					</li>
					<li class="item-break">
						<a class="a-propos-link" href="{{ site.baseurl }}/blog/">
							Blog
						</a>
					</li>
					<li>
						<a class="a-propos-link" href="{{ site.baseurl }}/a-propos/">
							À propos
						</a>
					</li>
				</ul>
			</header>
			<div class="content" id="content">
