<!DOCTYPE html>
<html lang="fr-fr">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Olivier de Villardi">
		<link rel="shortcut icon" href="{{ site.baseurl }}/dist/img/Olivier-de-Villardi-128.jpg">
		<link rel="alternate" type="application/rss+xml" title="Flux RSS" href="{{ site.baseurl }}/feed.xml">
		<title>
			{{ page.title }} — {{ site.author }}
		</title>
		<link href="https://fonts.googleapis.com/css?family=Lato|Spectral:700i" rel="stylesheet">
		<link href="{{ site.baseurl }}/dist/css/normalize.css" rel="stylesheet" type="text/css">
		<link href="{{ site.baseurl }}/dist/css/odevillardi.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="hidden">
			<ul>
				<li><a href="#menu">Aller au menu</a></li>
				<li><a href="#posts">Aller au contenu</a></li>
			</ul>
		</div>
		<div class="contact lead" id="contact">
			<a class="u-pull-right" title="Fermer" href="#">✕</a>
			<ul class="list-inline">
				<li id="email"><a href="mailto:%63&#111;%6e%74&#97;c&#116;&#64;%6f&#100;e%76&#105;&#108;&#108;ar&#100;&#105;%2e%66r">Email</a></li>
				<li id="mastodon"><a href="https://mamot.fr/@odevillardi">Mastodon</a></li>
				<li id="github"><a href="https://github.com/odevillardi">Github</a></li>
				<br>
				<span id="mail-contact">c&#111;n&#116;ac&#116;</span><span id="mail-arobase">&#64;</span><span id="mail-odevillardi">o&#100;ev&#105;&#108;&#108;ard&#105;</span><span id="mail-pointfr">.fr</span>
			</ul>
		</div>
		<div class="container">
			<div class="header">
				<ul class="list-inline">
					<li>
						<a href="{{ site.baseurl }}/#">
							{{ site.author }}
						</a>
					</li>
					<!-- <li>
						<a href="{{ site.baseurl }}/#content">
							Blog
						</a>
					</li> -->
					<a class="u-pull-right" href="#contact">
						Contact
					</a>
				</ul>
			</div>

			<div class="u-cf"></div>
			<div class="content" id="content">
