<li>
  <time datetime="{{ post.date | date: '%F' }}">{{ include.post.date | date: "%d/%m/%Y" }}</time>
  &emsp;
  {% for tag in include.post.tags[0] %}
    <a class="button button-xs text-capitalize {{ tag }}" href="{{ site.baseurl }}/blog/tag/{{ tag }}.html" role="button">
      {{ tag }}
    </a>
    &emsp;
  {% endfor %}
  <a class="lead"
    {% if post.layout != 'link' %}
      href='{{ site.baseurl }}{{ post.url }}'
    {% else %}
      href='{{ site.baseurl }}{{ post.link_url }}' title='{{ post.img_caption }}'
    {% endif %}
  >{{ include.post.title }}</a>
  {% if post.layout == 'link' %}
    &emsp;<span class="gray-text">→&nbsp;<em>{{ post.source }}</em></span>
  {% elsif post.layout == 'video' %}
    &emsp;<span class="gray-text lead">⎚</span>
  {% elsif post.layout == 'photo' %}
    &emsp;<span class="gray-text lead rotate">⌻</span>
  {% endif %}
</li>
