<div class="item {{ include.post.layout }}">
  <ul class="list-inline block">
    <li>
      <a class="lead post-link"
      {% if post.layout != 'link' %}
        href='{{ site.baseurl }}{{ post.url }}'
      {% else %}
        href='{{ site.baseurl }}{{ post.link_url }}'
      {% endif %}><span class="post-title">{{ include.post.title }}</span>
      {% if post.layout == 'link' %}
        <span class="link dark-gray-text"><em>{{ post.source }}</em></span>
      {% endif %}</a>
    </li>
    <li class="not-inline">
      <ul class="list-inline">
        <li>
          <time class="gray-text" datetime="{{ post.date | date: '%F' }}">{{ include.post.date | date: "%d/%m/%Y" }}</time>
        </li>
        {% for tag in include.post.tags %}
          <li><a class="button button-xs text-capitalize {{ tag }}" href="{{ site.baseurl }}/blog/tag/{{ tag }}.html" role="button">{{ tag }}</a></li>
        {% endfor %}
      </ul>
    </li>
    <li class="not-inline excerpt">
      {% if post.layout == 'link' %}
        {{ post.img_caption | strip_html | truncatewords: '45' }}
      {% else %}
        {{ post.excerpt | strip_html | truncatewords: '45' }}
      {% endif %}
    </li>
  </ul>
</div>
