<div class="four columns stickers">
	<h6>{{ include.post.title }}</h6>
	<p>
		{% for tag in include.post.tags %}
			<a class="button button-xs button-primary text-capitalize {{ tag }}" href="{{ site.baseurl }}/tag/{{ tag }}.html" role="button">
				{{ tag }}
			</a>
		{% endfor %}
	</p>
	<p>
		Publié le <time datetime="{{ include.post.date }}">{{ include.post.date | date: "%d/%m/%Y" }}</time>
		{% if !post %}
		— <a href="{{ include.post.url }}">Permalien</a>
		{% endif %}
	</p>	
	{% if include.post.related %}
		<ul class="list-inline alternate">
			<li class="no-content">Dans le même genre</li>
			{% for related in include.post.related %}
				<li>
					<a href="{{ site.baseurl }}{{ related.url }}.html">
						{{ related.title }}
					</a>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
</div>
