{% if !post %}
<div class="four columns stickers">
	<p>
		Par <a href="/">Olivier</a></p><p>le <time datetime="{{ post.date }}">{{ post.date | date: "%d/%m/%Y" }}</time> — <a href="{{ post.url }}">Permalien</a>
	</p>
	<p class="text-overflow">
		{% for tag in post.tags %}
			<a class="button button-xs button-primary text-capitalize {{ tag }}" href="/tag/{{ tag }}.html" role="button">
				{{ tag }}
			</a>
		{% endfor %}
	</p>
</div>
{% else %}
<div class="four columns stickers">
	<p>
		Par <a href="/">Olivier</a></p><p>le <time datetime="{{ page.date }}">{{ page.date | date: "%d/%m/%Y" }}</time>
	</p>
	<p class="text-overflow">
		{% for tag in page.tags %}
			<a class="button button-xs button-primary text-capitalize {{ tag }}" href="/tag/{{ tag }}.html" role="button">
				{{ tag }}
			</a>
		{% endfor %}
	</p>
</div>
{% endif %}