<div class="four columns stickers">
	<h6>{{ include.post.title }}</h6>
	<ul class="list-inline buttons">
		{% for tag in include.post.tags %}
			<li>
				<a class="button button-xs button-primary text-capitalize {{ tag }}" href="{{ site.baseurl }}/tag/{{ tag }}.html" role="button">
					{{ tag }}
				</a>
			</li>
		{% endfor %}
	</ul>
	<ul class="list-inline">
		<li>
			Le <time datetime="{{ include.post.date }}">{{ include.post.date | date: "%d/%m/%Y" }}</time>
		</li>
		{% if !post %}
			<li>
				<a href="{{ include.post.url }}">Permalien</a>
			</li>
		{% endif %}
	</ul>
	{% if include.post.related %}
		<ul class="list-inline related">
			<li class="list-title">Dans le même genre&nbsp;:</li>
			{% for related in include.post.related %}
				<li>
					<a href="{{ site.baseurl }}/{{ related.url }}.html">
						{{ related.title }}
					</a>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
</div>
