---

---
{% include head.html %}
<article itemscope itemtype="http://schema.org/Article">
	{% include big-title.html title=page.title %}
	<div class="posts" id="posts">
		<div class="part video" itemprop="articleBody">
			<div class="row">
				<div class="twelve columns">
					<img src="{{ site.baseurl }}{{ page.img_url }}" alt="{{ page.img_caption }}" itemprop="image">
				</div>
			</div>
			<div class="row">
				<div class="eight columns lead caption">
					{% if page.content != "" %}
						{{ page.content }}
					{% else%}
						{{ page.img_caption }}
					{% endif %}
					{% include commentaires-cusdis.html %}
				</div>
				{% include sticker.html post=page %}
			</div>
		</div>
	</div>
</article>
{% include foot.html %}
