---

---
{% include head.html %}

<article itemscope itemtype="http://schema.org/Article">
	{% include big-title.html title=page.title %}
	<div class="posts" id="posts">
		<div class="part text">
			<div class="row">
				<div class="eight columns lead" itemprop="articleBody">
					{{ page.content }}
				</div>
				{% include sticker.html post=page %}
			</div>
		</div>
	</div>
</article>

<script type="text/javascript">
	commentBox('5748888359141376-proj');
</script>

<div class="commentbox"></div>

{% include foot.html %}
