---

---
{% include head.html %}

<article itemscope itemtype="http://schema.org/Article">
	{% include big-title.html title=page.title %}
	<div class="posts" id="posts">
		<div class="part text">
			<div class="row">
				<div class="eight columns lead" itemprop="articleBody">
					{{ page.content }}
					<script src="https://utteranc.es/client.js"
					        repo="https://github.com/odevillardi/odevillardi.github.io"
					        issue-term="url"
					        theme="github-light"
					        crossorigin="anonymous"
					        async>
					</script>
				</div>
				{% include sticker.html post=page %}
			</div>
		</div>
	</div>
</article>


{% include foot.html %}
