---

---
{% include head.html %}
{% include big-title.html title=page.title %}
<div class="text-overflow text-center">
	<ul class="menu list-inline tag-list" id="menu">
		{% for subtag in page.subtags %}
			<li class="text-capitalize"><a href="{{ site.baseurl }}/tag/{{ subtag }}.html">{{ subtag }}</a></li>
		{% endfor %}
			<li><a class="gray-text" href="{{ site.baseurl }}/tag/">Tous les tags</a></li>
	</ul>
</div>
<div class="part post-list">
	{% for post in site.tags[page.tag] %}
		{% include post-item-list.html post=post %}
	{% endfor %}
</div>
{% include foot.html %}
