---

---
{% include head.html %}
{% include big-title.html title=page.title %}
<div class="text-overflow text-center">
	<ul class="menu list-inline text-capitalize" id="menu">
		{% for subtag in page.subtags %}
			<li><a href="{{ site.baseurl }}/tag/{{ subtag }}.html">{{ subtag }}</a></li>
		{% endfor %}
	</ul>
</div>
<div class="posts" id="posts">
	<ul class="part alternate no-style">
		{% for post in site.tags[page.tag] %}
			<li>
				<time datetime="{{ post.date | date: '%F' }}">{{ post.date | date: "%d/%m/%Y" }}</time> —
				<a class="lead" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
			</li>
		{% endfor %}
	</ul>
</div>
{% include foot.html %}
