---

---
{% include head.html %}
{% include big-title.html title=page.title %}
<div class="text-overflow text-center">
	<ul class="menu list-inline text-capitalize" id="menu">
		{% for subtag in page.subtags %}
			<li><a href="{{ site.baseurl }}/blog/tag/{{ subtag }}.html">{{ subtag }}</a></li>
		{% endfor %}
	</ul>
</div>
<div class="part posts">
	<ul class="no-style">
		{% for post in site.tags[page.tag] %}
			{% include post-item-list.html post=post %}
		{% endfor %}
	</ul>
</div>
{% include foot.html %}
