---

---
{% include head.html %}

<div class="u-cf"></div>

<article itemscope itemtype="http://schema.org/Article">
{% include big-title.html title=page.title %}
	<div class="posts" id="posts">
		<div class="part video" itemprop="articleBody">
			<div class="row">
				<div class="twelve columns lead">
					{% include video.html video_url=page.video_url %}
				</div>
			</div>
			<div class="row">
				<div class="eight columns lead caption">
					{{ page.content }}
					{% include commentaires-cusdis.html %}
				</div>
				{% include sticker.html post=page %}
			</div>
		</div>
	</div>
</article>



{% include foot.html %}
